<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About SCMS School of Engineering & Technology</title>
    <link rel="stylesheet" href="/static/abo.css">
</head>
<body>
    <div class="navbar">
        <div class="logout-container">
            <a href="{{ url_for('logout') }}" class="logout-link">Logout</a>
        </div>
    </div>
    
    

    <div class="wrapper">
        <div class="container">
            <h1>About <span class="highlight">SCMS School of Engineering & Technology</span></h1>
            <p>
                SSET is a premier institution, upholding a tradition of excellence for over 48 years
                within the esteemed SCMS Group of Educational Institutions. Established in 2001
                under Mahatma Gandhi University, SSET is the pioneering self-financing engineering
                college. SSET offers technical programmes recognised by AICTE, New Delhi and is
                affiliated to APJ Abdul Kalam Technological University, Kerala.
            </p>
            <p>
                Located on a sprawling 29-acre campus in Karukutty, Ernakulam District, our cutting-edge
                facilities are the cornerstone of a transformative learning experience. With 50%
                of our branches accredited by the NBA, a remarkable NAAC grade maintained for 10
                years, and two highly acclaimed Centers of Excellence—the SCMS Water Institute
                (SWI) and the SCMS Institute of Road Safety and Transport (SIRST)—SSET offers a
                gateway to innovation and social commitment.
            </p>
        </div>
    </div>

    <div class="footer">
        &copy; 2025 SCMS School of Engineering & Technology. All Rights Reserved.
    </div>
</body>
</html>
