<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
    <link rel="stylesheet" href="/static/serv.css">
</head>
<body>
    <div class="navbar">
        <div class="logout-container">
            <a href="/logout" class="logout-link">Logout</a>
        </div>
    </div>

    <!-- Wrapper -->
    <div class="wrapper">
        <div class="container">
            <h1><span class="blue">Website</span> <span class="orange">Services</span></h1>
            <ul class="services-list">
                <li>Students can apply for a new bus pass online through the portal.</li>
                <li>Day Scholars can choose a 3-month or 6-month advance payment based on which pass is provided.</li>
                <li>Hostellers can book a one-time pass for their intended reach date.</li>
                <li>Each bus pass is linked to a unique QR code for secure and quick authentication.</li>
                <li>QR code-based verification by security at college stop to verify validity.</li>
                <li>Moderators can manage student account-enable/disable account,view student account details.</li>
                <li>Super Admins oversee the system-adding or removing Moderators,viewing Superadmins and Moderators.</li>
                <li>If a student’s account is banned, they cannot log in until their access is reinstated by the Moderator.</li>
            </ul>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">&copy; 2025 SCMS School of Engineering & Technology. All Rights Reserved.</div>

</body>
</html>
